.section-3 {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10%;

  .bg {
    background-image: asset_url('step.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 42vw;
    margin-top: -3.5%;
    margin-bottom: -5%;
    margin-left: 20%;
  }

  .head {
    color: #010101;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2.5px;
    margin-bottom: 4.5%;
    line-height: 60px;
  }

  .block {
    .head {
      font-size: 1vw;
      font-weight: 700;
      letter-spacing: 0.4px;
      margin: 0;
    }

    .body {
      font-family: 'Roboto', sans-serif;
      color: #464646;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.17px;
      line-height: 20px;
      text-align: justify;
      width: 95%;
    }

    .red { color: #e95221; }
    .green { color: #62c301; }
    .blue { color: #00e3e6; }
    .yellow { color: #dda400; }
    .green-2 { color: #00c76c; }
    .red-2 { color: #f13b00; }
    .yellow-2 { color: #dda704; }
    .green-3 { color: #01db78; }
    .green-4 { color: #6fdd00; }
    .blue-1 { color: #00e3e6; }
  }
}
