.left-nav {
  z-index: 1;
  position: fixed;
  left: 9vw;
  top: 17.5vw;
  height: 65vh;
  width: 35px;
  font-family: 'Open Sans', sans-serif;

  .top-button {
    margin-left: 0px;
  }

  .bot-button {
    margin-left: 0px;
  }

  a {
    text-decoration: none;
    color: #bfbfbf;
    font-size: 25px;
    font-weight: 600;
    line-height: 2;
    margin-left: -5px;

    .active { color: #00e3e6; }
  }

  a:hover { color: #00e3e6; }

  .active { color: #00e3e6; }

  img:hover {
    cursor: pointer;
    margin-left: 0px;
  }
}
