<div class="section-1" id='1'>
  <div class="container ">
    <div class="content col-35 container-padding">
      <div class="big-text col-9">
        SEEKING FOR DEDICATED LEADING TEAMS?
      </div>
      <div class="small-text col-8">
        We believe the original technical specialists and team players take place from software companies they work at. Do you?
      </div>
      <div class="col-10 section1-butt">
        <a href="#5">
          <button class="talk-button">LET'S TALK</button>
        </a>
      </div>
    </div>
    <div class="col-5 bg padding-bg">
      <div class="bg-section"></div>
    </div>
  </div>
</div>
