<div class="section-2" id='2'>
  <div class="container">
    <div class="content">
      <div class="flex-container-menu">
        <div class="stripe stripe-1 tab" data-tab='who'>WHO WE ARE</div>
        <div class="stripe stripe-2 tab" data-tab='why'>WHY NAPROK</div>
        <div class="stripe stripe-3 tab" data-tab='how'>HOW CAN WE HELP YOU</div>
      </div>

      <div class='flex-container-tabs'>
        <div class='col-5'>
          <div class='tab-content text' data-tab='who'>
            <div class="title">
              WHO WE ARE
            </div>
            <div class="small-text">
              Naprok is an independent IT consulting company which provides screened engineers from service-based companies to your product one. Our team is good at finding out professional staff members, or, indeed, a small team who you achieving long-term plans with.
            </div>
          </div>

          <div hidden class="tab-content text" data-tab='why'>
            <div class="title">
              WHY NAPROK
            </div>
            <div class="small-text">
              Hiring dedicated developers requires your awareness about particularities of outstaffing inside out. We can handle this and match candidates with relevant expertise to extend either your in-house staff or current remote team.
            </div>
          </div>

          <div hidden class="tab-content text" data-tab='how'>
            <div class="title">
              HOW CAN WE HELP YOU
            </div>
            <div class="small-text">
              Your time has appreciated value, and we’re conscious of your tight schedule and time frame. Likewise we understand that the best option to run dedicated team more rapidly is to hire experienced in your area developers with appropriate tech stack. Thus, we manage to take over every technical and procedural aspects so that you have to make a small effort to set up dedicated employees.
            </div>
          </div>
        </div>

        <div class='col-1'></div>

        <div class='col-4'>
          <div class='who-we-are background tab-content' data-tab='who'></div>
          <div hidden class="col-5 why-naprok background tab-content" data-tab='why'></div>
          <div hidden class="col-5 help background tab-content" data-tab='how'></div>
        </div>
      </div>
    </div>
  </div>
</div>
