<div class="section-3" id='3'>
  <div class="content-right">
    <div class="col-10 head">THE WAY WE SERVE YOU</div>
    <div class="col-10">
      <div class="col-2 block ">
        <div class="head red">GATHERING OF GEEKS</div>
        <div class="body">We had gotten ahold of software vendors whose developers are able to work using team extension model</div>
      </div>
      <div class="col-16 block block-media"></div>
      <div class="col-2 block">
        <div class="head green">IN THE LIMELIGHT</div>
        <div class="body">All in all, we have the database with verified engineers, who’re willing to get started in case their availability</div>
      </div>
      <div class="col-12 block block-media"></div>
      <div class="col-2 block">
        <div class="head blue">APPROPRIATE MATCHES</div>
        <div class="body">We browse through all proven CVs to find the best matches toward concerning your requirements</div>
      </div>
    </div>
    <!-- 2-r -->
    <div class="col-10 block-margin">
      <div class="col-15 block-footer"></div>
      <div class="col-25 block">
        <div class="head yellow">UNDER THE MICROSCOPE</div>
        <div class="body">Our specialists have screened each of candidate to be confident that all developers conforms to their quality level</div>
      </div>
      <div class="col-15 block-media"></div>
      <div class="col-19 block">
        <div class="head green-2">KNOCK-KNOCK</div>
        <div class="body">Your business is growing, hence further extension of staff is inevitable. Depict us perfect candidates you need. We hang upon your specifications</div>
      </div>
    </div>
  </div>
  <!-- BG!!!!! -->
  <div>
    <div class="bg hiden-sm"></div>
  </div>
  <!-- BG!!!!! -->
  <div class="content-right">
    <div class="col-10 block-margin">
      <div class="col-17 block-footer"></div>
      <div class="col-2 block">
          <div class="head yellow-2">WE'RE ALMOST THERE</div>
          <div class="body">The final interview between you and developers to confirm cooperation with employees you choose</div>
      </div>
      <div class="col-17 block-media"></div>
      <div class="col-17 block">
          <div class="head green-3">BEST CANDIDATES</div>
          <div class="body">Narrow down the number of candidates, we provide you the best crops amongst all developers</div>
      </div>
    </div>
    <!-- 2-r -->
    <div class="col-10 block-margin">
      <div class="col-25 block ">
        <div class="head red-2">LET'S THE TEAM ROCK UP</div>
        <div class="body">Contract between your company and the company which designate programmers work for</div>
      </div>
      <div class="col-1 block-media"></div>
      <div class="col-2 block">
        <div class="head green-4">KEEP OPTIONS OPEN</div>
        <div class="body">You have the final word here. Hence, you’ll look through approved CVs yourself and decide who you'd be more predisposed to hire</div>
      </div>
      <div class="col-16 block-media"></div>
      <div class="col-17 block">
        <div class="head blue-1">ARE THEY READY?</div>
        <div class="body">We request vendors whether certain engineers will be available and ready to get started for the project</div>
      </div>
    </div>
  </div>
</div>
