<div class="section-4" id='4'>
  <div class="content-right">

    <div class="col-10 title">
      HOW THE SCREENING WORKS
    </div>

    <div class="col-45 bg"></div>

    <div class="col-45 section4-text">
      <div class="text" >
        <div class="col-4 media-mobile">
          <div class="head">IN ENGLISH, PLEASE</div>
          <div class="body">Considering your dedicated developers have to communicate directly with you and other
            members, we determine whether they’re fluent in English. Apart from speaking, the high-level helps
            programmers to speed up their workflow and solve any issues that might appear
          </div>
        </div>
        <div class="col-4 media-mobile">
          <div class="head">DEDICATION AND COMMITMENT</div>
          <div class="body">Beyond perfect English and technical competence, we screen over engineer’s politeness,
            adequacy and identity. This step is vital to be convinced about leadership skills and ability to work
            integrity with the team
          </div>
        </div>
      </div>

      <div class="text">
        <div class="col-4 media-mobile">
          <div class="head">TECH STACK</div>
          <div class="body">Given that all candidates aren’t identical and have different proficiency, we check each of
            them by experts in particular skills. Due to outstaffing services, each of employee is regarded as an
            autonomous developer, who has strong points and suited to carry out certain tasks much better than others.
            We are mindful of these peculiarities as well
          </div>
        </div>
        <div class="col-4 media-mobile">
          <div class="head">THE TEST TRIALS</div>
          <div class="body">For afters, we’ve got test project to estimate practical experience in accordance with
            theoretical knowledge. It's a great chance for candidates to show their critical thinking,professional
            competence and creative abilities. We believe that lead engineers deliver upon expectations with the real
            challenges only
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
