<footer class="footer">
  <div class="container">
    <div class="col-31 info">
      <img  src=<%= asset_url("logo.png")%> alt="Naprok logo" height="40" width="179" class="logo"></img>
      <div class="cpr">
        Copyright © 2018 Naprok. Privacy Policy
      </div>
    </div>
    <div class="col-22 bottom-navs">
      <a href="#1">HOME</a><br/>
      <a href="#2">ABOUT US</a><br/>
      <a href="#3">ADVANTAGES</a><br/>
      <a href="#4">SCREENING</a><br/>
      <a href="#5">CONTACT US</a><br/>
    </div>
    <div class="col-28 contacts">
      <p>200, Shevchekno Street, <br/>
        Cherkasy, Ukraine, 18000 <br/>
      <p>+38 (097) 753 57 31 <br/>
        <a href="mailto:contact@naprok.com" target="_top" class='footer-link'>
          contact@naprok.com
        </a>
      </p>
    </div>
    <div class="col-19 media">
      <div>
        <a href='https://www.facebook.com/NaprokOutstaffing/' target='_blank' rel="noopener">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook-f fa-inverse fa-stack-1x"></i>
          </span>
        </a>
        <a href='https://www.linkedin.com/company/17920121/' target='_blank' rel="noopener">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-linkedin-in fa-inverse fa-stack-1x"></i>
          </span>
        </a>f
        <a href='#' target='_blank' rel="noopener">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-instagram fa-inverse fa-stack-1x"></i>
          </span>
        </a>
        <a href='https://twitter.com/NaprokOutstaff' target='_blank' rel="noopener">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-inverse fa-stack-1x"></i>
          </span>
        </a>
        <a href='<%= posts_url %>' target='_blank' rel="noopener">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fab fa-blogger-b fa-inverse fa-stack-1x"></i>
          </span>
        </a>
      </div>
      <button class="talk-button">SUBSCRIBE</button>
      <div class="cpr media-block">
        Copyright © 2018 Naprok. Privacy Policy
      </div>
    </div>
  </div>
</footer>
